{% extends 'blog/base.html' %}
{% block content %}
            <h1>Merhabalar</h1>
            <p>İstatistik Kulübü olarak yeni web sitemiz hizmetinizde.Yazılarımıza isterseniz yorum yapabilir,takıldığınız yerleri bizlere sorabilirsiniz.Çok mutluyuz :) Takipte kalın.. </p>
            <hr>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}" target="_blank" id="post_title">{{ post.title }}</a></h1>

         
            <div class = "post_body">
                
                {{ post.text|safe|truncatewords:"50"|linebreaks }}

                <a id="daha_fazlasini_oku" href="{% url 'post_detail' pk=post.pk %}">Daha Fazlasını Oku</a>
            </div>   


            <p><a href="{% url 'blog.views.post_detail' pk=post.pk %}" target="blank" id="Comments">Comments: {{ post.comments.count }} </a></p>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
                    