.page-header h1  {
	color:white;
	margin-left:20px;
}

.post h1 a {
    color: #33494E ;
    font-family: 'Audiowide', cursive;
}
body {
    padding-left: 15px;
}
.page-header{
	background-color: #33497E;
	margin-top:0;
	margin-left:-15px;
	padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header a:visited, .page-header h1 a:activate{
	color:#ffffff;
	font-size: 36pt;
	text-decoration: none;
}
.content{
	margin-left:250px;
	background-color: white;
}
h1, h2, h3, h4{
	font-family: 'Audiowide', cursive;
}
.date{
	float: right;
	color: #828282;
}
.save{
	float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 750px;

}
img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.page-header h1 a img:hover{
	width:65px;
	height: 65px;
	background-color: black;
}

h1, #post_title{
	color: #33497E;
}

.comment{
	margin: 20px 20px 20px 20px;
}

#Comments, #daha_fazlasini_oku{
	color:#339999;
	display: inline;
	text-decoration:none;
}
#Comments:hover{
	color:white;
	display: inline;
	background-color:#33497E ;
	text-decoration:none;
}

#daha_fazlasini_oku hover{
	color:#000099;
	display: inline;
	background-color:#33497E ;
	text-decoration:none;

}
.post_body{
	color:black;
	display: inline;
	text-decoration:none;
}



